.header {
    background: #e9ecef;
    color: #0060a9;
    text-align: center;
    padding: 10px;
    border-radius: 0.3rem;
    opacity: 0.9;
    font-size: 1.5em;
  }
  
  .header a {
    color: #0060a9;
    text-decoration: none;
  }